<!DOCTYPE html>
<head>
	<title>Polystar - Contact</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta name="author" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--

Polystar Template

http://www.templatemo.com/tm-408-polystar

-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/css/templatemo_misc.css" rel="stylesheet">
	<link href="static/css/templatemo_style.css" rel="stylesheet">

	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/jquery.lightbox.js"></script>
	<script src="static/js/templatemo_custom.js"></script>
</head>
<body>
	<div class="container">
		<div class="menu">
			<div class="hexagon_container" id="logo">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="{{url_for('index')}}">
							<div class="hexagon-in2">
								<h2>Sign language recognition</h2>
							</div>
						</a>
					</div>
				</div>					
			</div>
			<div class="hexagon_container" id="team">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="{{url_for('team')}}">
							<div class="hexagon-in2">
								<i class="fa fa-user"></i>
								<h2>Technologies</h2>
							</div>
						</a>
					</div>
				</div>				
			</div>
			<div class="hexagon_container" id="services">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="{{url_for('services')}}">
							<div class="hexagon-in2">
								<i class="fa fa-cogs"></i>
								<h2>Our Work</h2>
							</div>
						</a>
					</div>
				</div>
			</div>		
			<div class="hexagon_container" id="contact">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2 active">
							<i class="fa fa-envelope"></i>
							<h2>Upload</h2>
						</div>
					</div>
				</div>						
			</div>
		</div>	
		<div id="contact-content">
			<header>
				<h1>Upload your input here</h1>
			</header>
			<div class="content contact">
				<div class="templatemo_contactmap">
<!--					<div id="templatemo_map"></div>-->
<!--					<div class="" style="background-image:url(static/images/images(1).jpg);">-->
<!--					<img ssrc="static/images/images(1).jpg"  alt="">-->
<!--					<a href="static/images/images(1).jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>-->
<!--				</div>-->
				<form id="upload-form" action="{{ url_for('upload1') }}" method="POST" enctype="multipart/form-data">

<div class="login card" style="color: orangered;">
  <pre>
  <h3 style="width: fit-content;color: green;">CLASSIFY THE IMAGE</h3>
  <strong>Choose Image:</strong>
  <input class="btn btn-primary btn-block btn-large" type="file" name="file" accept="image/*" multiple>

  <input type="submit" value="Classify!" class="btn btn-primary btn-block btn-large">
  </pre>
</div>
</form>


			</div>
		</div>				
	</div>

	<script type="text/javascript">
		loadScript();
	</script>
</body>
</html>