<!DOCTYPE html>
<head>
	<title>Polystar - Free HTML5 Template</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta name="author" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--

Polystar Template

http://www.templatemo.com/tm-408-polystar

-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/css/templatemo_misc.css" rel="stylesheet">
	<link href="static/css/templatemo_style.css" rel="stylesheet">

	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/jquery.lightbox.js"></script>
	<script src="static/js/templatemo_custom.js"></script>
</head>
<body>
	<div class="container">
		<div class="menu">
			<div class="hexagon_container" id="logo">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2 active">
							<h2>Sign language recognition</h2>
						</div>
					</div>
				</div>					
			</div>
			<div class="hexagon_container" id="team">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="{{url_for('team')}}">
							<div class="hexagon-in2">
								<i class="fa fa-user"></i>
								<h2>Technologies</h2>
							</div>
						</a>
					</div>
				</div>				
			</div>
			<div class="hexagon_container" id="services">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="{{url_for('services')}}">
							<div class="hexagon-in2">
								<i class="fa fa-cogs"></i>
								<h2>Our Work</h2>
							</div>
						</a>
					</div>
				</div>
			</div>		
			<div class="hexagon_container" id="contact">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="{{url_for('contact')}}">
							<div class="hexagon-in2">
								<i class="fa fa-envelope"></i>
								<h2>Upload</h2>
							</div>
						</a>
					</div>
				</div>						
			</div>
		</div>
		<div id="gallery-content">
			<header>
				<h1>SIGNS WE ARE RECOGNIZING</h1>
			</header>
			<div class="content gallery" id="page1">
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/a2.jpg); width:180px; height:144px;">
								<div class="overlay">
									<a href="static/images/gallery/a2.jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>      	 	
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/b2.png); width:180px; height:144px;">
								<div class="overlay">
									<a href="static/images/gallery/b2.png" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>         	 	
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/c.png);">
								<div class="overlay">
									<a href="static/images/gallery/c.png" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/d.png);">
								<div class="overlay">
									<a href="static/images/gallery/d.png" style="width:30px; height:30px;"  data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/e1.png);">
								<div class="overlay">
									<a href="static/images/gallery/e1.png" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/f.png);">
								<div class="overlay">
									<a href="static/images/gallery/f.png" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/g.png);">
								<div class="overlay">
									<a href="static/images/gallery/g.png" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content gallery" id="page2" style="display:none;">
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/h.png);">
								<div class="overlay">
									<a href="static/images/gallery/h.png" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>      	 	
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/i.png);">
								<div class="overlay">
									<a href="static/images/gallery/i.png" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>         	 	
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/j.jpg);">
								<div class="overlay">
									<a href="static/images/gallery/j.jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/k2.jpg);">
								<div class="overlay">
									<a href="static/images/gallery/k2.jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/l1.jpg);">
								<div class="overlay">
									<a href="static/images/gallery/l1.jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/m3.jpg);">
								<div class="overlay">
									<a href="static/images/gallery/m3.jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/n3.jpg);">
								<div class="overlay">
									<a href="static/images/gallery/n3.jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content gallery" id="page3" style="display:none;">
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/o2.png);">
								<div class="overlay">
									<a href="static/images/gallery/o2.png" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>      	 	
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/p1.png);">
								<div class="overlay">
									<a href="static/images/gallery/p1.png" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>         	 	
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/q2.jpg);">
								<div class="overlay">
									<a href="static/images/gallery/q2.jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/r1.jpg);">
								<div class="overlay">
									<a href="static/images/gallery/r1.jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/s.png);">
								<div class="overlay">
									<a href="static/images/gallery/s.png" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/t1.jpg);">
								<div class="overlay">
									<a href="static/images/gallery/t1.jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 gallery-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/gallery/u1.jpg);">
								<div class="overlay">
									<a href="static/images/gallery/u1.jpg" style="width:30px; height:30px;" data-rel="lightbox" class="fa fa-expand"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination">
				<ul>
					<li id="page_link_1" class="active">1</li>
					<li id="page_link_2">2</li>
					<li id="page_link_3">3</li>
				</ul>
			</div>	
		</div>			
	</div>

	
	<script type="text/javascript">
		$('#page_link_1').click({page_no:1},pagination_click);
		$('#page_link_2').click({page_no:2},pagination_click);
		$('#page_link_3').click({page_no:3},pagination_click);
	</script>
</body>
</html>