<!DOCTYPE html>
<head>
	<title>Polystar - Team</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta name="author" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--

Polystar Template

http://www.templatemo.com/tm-408-polystar

-->	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/css/templatemo_misc.css" rel="stylesheet">
	<link href="static/css/templatemo_style.css" rel="stylesheet">

	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/jquery.lightbox.js"></script>
	<script src="static/js/templatemo_custom.js"></script>
</head>
<body>
	<div class="container">
		<div class="menu">
			<div class="hexagon_container" id="logo">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="{{url_for('index')}}">
							<div class="hexagon-in2">
								<h2>Sign language recognition</h2>
							</div>
						</a>
					</div>
				</div>					
			</div>
			<div class="hexagon_container" id="team">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2 active">
							<i class="fa fa-user"></i>
							<h2>Technologies</h2>
						</div>
					</div>
				</div>				
			</div>
			<div class="hexagon_container" id="services">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="{{url_for('services')}}">
							<div class="hexagon-in2">
								<i class="fa fa-cogs"></i>
								<h2>Our Work</h2>
							</div>
						</a>
					</div>
				</div>
			</div>		
			<div class="hexagon_container" id="contact">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="{{url_for('contact')}}">
							<div class="hexagon-in2">
								<i class="fa fa-envelope"></i>
								<h2>Upload</h2>
							</div>
						</a>
					</div>
				</div>						
			</div>
		</div>
		<div id="team-content">
			<header>
				<h1>This are techonologies used here</h1>
			</header>
			<div class="content team" id="page1">
				<div class="hexagon_container">
					<div class="hexagon hexagon2 team-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/team/python.png);">
								<div class="overlay">
									<h2>Python</h2>
								</div>      	 	
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 team-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/team/DL1.jpg);">
								<div class="overlay">
									<h2>Deep Learning</h2>
								</div>         	 	
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 team-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/team/web.jpg);">
								<div class="overlay">
									<h2>Web development</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content-description">
					<p>We are developing our project using the Python programming language and considering the deep learninh as the technology, from where we are considering the CNN based transfer learning model that which trains the considered dataset and that can be further predicted from the saved model and web application is implemented to build an website.</p>
				</div>			
			</div>			
			<div class="pagination">
				<ul>
					<li class="active">1</li>
				</ul>
			</div>	
		</div>
	</div>

</body>
</html>